[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
matplotlib = "*"
pypdf2 = "*"
requests = "*"
pypdf = "*"
requests-cache = "*"
retry-requests = "*"
pdfplumber = "*"
pymupdf = "*"
pytest = "*"
pytest-mock = "*"

[dev-packages]

[requires]
python_version = "3.12"
